[data-slider="list"] {
	--_top-offset: 20px;
	--_inline-offset: 9.54653938%;
	--_animation-duration: 0.5s;
	--_slide-in-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
	--_slide-out-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
	display: grid;
	grid-template-areas: 'center';
	margin-top: calc((var(--_items-length, 0) - 1) * var(--_top-offset));
}

[data-slider="item"] {
	grid-area: center;
	transform-origin: center top;
	translate: 0 calc(var(--_position-index, 0) * var(--_top-offset));
	scale: calc(100% - (var(--_inline-offset) * (var(--_position-index, 0) * -1)));
	transition: all calc(var(--_animation-duration) / 2) var(--_slide-in-timing-function);
	cursor: pointer;
}

[data-slider="item"]:not(:last-of-type) {
	pointer-events: none;
}

[data-slider="item"].active {
	animation: changeActiveCard var(--_animation-duration) var(--_slide-out-timing-function) forwards;
}

@keyframes changeActiveCard {
	0% {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	100% {
		transform: translateY(120%) scale(0.5);
		opacity: 0;
	}
}
